:root  {
--light-bg-color: white;
--dark-bg-color: black;
--light-text-color: black;
--dark-text-color: white;
}
/* }
body {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}
h1{
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
} */

body.dark{
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}
body.dark  {
  :is(h1, .main-content, .content, .overview-section, .history-section) {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);

  }
}
body {
  :is(h1, .main-content, .content, .overview-section, .history-section) {
    background-color: var(--light-bg-color-);
    color: var(--light-text-color);

  }
}
/* 
.main-content {
  background-color: var(--light-bg-color-);
  color: var(--light-text-color);
  
}
.content {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}
.overview-section {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}
.history-section {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
} */

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: #a4a4a9c0;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  /* .main-content #darkMode{
    display:none; */
  /* } */
  
  /* .main-content #darkMode, .history-section, .overview-section, .send-section, .request-section, .card, .table, .table td, .table th, .table tr, .table tbody, .table thead {
   */ 
#dmtoggle {
    width: 30px;;
    height: 60px;;
    position: relative;
    right: 15px;
    top: 15px;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(5, 5, 5, 0.4);
    cursor: pointer;
  }
  label:after {
    content: "";
    width:15px;
    height: 30px;
    position: absolute;
    top: 15px;;
    right:10px;
    background: linear-gradient(180deg,#060703be,#0f0f0765);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  }
  input[name="dmtoggle"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    
    transform: translateY(100%);
    background: linear-gradient(180deg,#fff789,#f5e503);
    box-shadow: 0px 5px 10px rgba(255, 251, 2, 1);
   
  }
  label, label:after {
    transition: 0.3s
  }