/* :root  {
  --light-bg-color: rgb(216, 197, 197);
  --dark-bg-color: rgb(37, 33, 33);
  --light-text-color: rgb(34, 31, 31);
  --dark-text-color: rgb(230, 217, 217);
} */

body {
  color: var(--light-text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
} 

header h1 {
  margin: 0;
  padding: 0;
}

.main-content {
  align-items: center;
  justify-content: center;
  font-size: small;
  margin-top: 0%;
  font-size: small;
  overflow-y: scroll;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  width: 100%;
  padding: 20px;
}

.overview-section {
  font-size: small;
  height: 30%;
  width: 60%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-section {
  font-size: small;
  margin-top: 10px;
  width: 90%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}

.modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: #a4a4a9c0;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
} */


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
} 

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
} 

#dmtoggle {
    width: 30px;;
    height: 60px;;
    position: relative;
    right: 15px;
    top: 15px;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(5, 5, 5, 0.4);
    cursor: pointer;
}

#dmtoggle + label:after {
  content: "";
  width:15px;
  height: 30px;
  position: absolute;
  top: 15px;;
  right:10px;
  background: linear-gradient(180deg,#060703be,#0f0f0765);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}

input[name="dmtoggle"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

#dmtoggle:checked + label {
  background: #242424;
}

#dmtoggle:checked + label:after { 
  transform: translateY(100%);
  background: linear-gradient(180deg,#fff789,#f5e503);
  box-shadow: 0px 5px 10px rgba(255, 251, 2, 1); 
}

label, label:after {
  transition: 0s
}

.search-bar{
  width: 150%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 16px;
}

.search-bar:hover {
  border: 1px solid black;
}

.scrollable-history {
  overflow-y: scroll;
  height: 200px;
  width: 100%;
}

.delete_button, .edit_button {
  background: linear-gradient(45deg, #ff5252, #e53935);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.delete_button:hover, .edit_button:hover {
  background: linear-gradient(45deg, #e53935, #d32f2f);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.basic_info,
.specific_info {
  flex: 1;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h3 {
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


/* .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
} */

/* .cards-section {
  display: flex;
  justify-content: space-between;
} */

/* .card {
  flex: 1;
  background-color: #ebf0f7;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
  text-align: center;
  color: #555;
}

.card:last-child {
  margin-right: 0;
} */

/* .send-btn, .request-btn {
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.send-btn {
  background-color: #00bc77;
  color: #fff;
}

.request-btn {
  background-color: #ff5e5e;
  color: #fff;
} */

.chart-section, .history-section {
  grid-column: span 2;
  background-color: #f9fbfc;
  padding: 20px;
  border-radius: 10px;
}

.history-section ul {
  list-style-type: none;
  padding: 0;
}


.history-section ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ebf0f7;
} 

.balanceremaining{
  color: #00bc77;
} 

.minus{
  color: #ff5e5e;
}


.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 0; 
}

.table th {
  padding: 10px 0;
  border-bottom: 2px solid #ebf0f7;
}

.table td {
  padding: 10px 0;
  border-bottom: 2px solid #ebf0f7;
}

.add_button {
  background-color: #00bc77;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add_button:hover {
  background-color: #009c63;
} 

/* :root  {
  color-scheme: light dark;
  --grey-scale: #181717dc;
} */

#toggle {
      background-color: black;
      border-radius: 20px;
      border-width: 50px;
      height: 10px;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

body.darkMode {
    color: #FFF;
    background: var(--grey-scale);     
}

body.darkMode #toggle {
  background-color: white;
  border-radius: 20px;
  
  height: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Dark mode styles
--textbox-background: ;rgba(255, 255, 255, 0.05);
--textbox-text: white;
--default-background: var(--dark-black);
--default-text: white;
*/

/* Light mode styles
--textbox-background: #EEE;
--textbox-text: var(--dark-black);
--default-background: white;
--default-text: black;
*/


