.reminder_container {
  visibility: hidden;
  width: 160px;
  background-color: #f20d0d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.reminder_container.show {
  visibility: visible;
}

