<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Finance Dashboard</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/base.css" />
    <script src="../static/expense.js" defer></script> 

    {% block head %} {% endblock %}
  </head>
  <body class="">
    <div class="dashboard">
      <aside class="sidebar">
        
        <nav>
          <ul>
            <li><a href="{{ url_for('homepage') }}" class="active" title="Home">🏠</a></li>
            <li><a href="{{ url_for('expense_homepage') }}" title="Expense">💸</a></li>
            <li><a href="{{ url_for('set') }}" title="Settings">🤝</a></li>
          </ul>
          <ul class="bottom-icons">
            <li><a href="{{ url_for('logout') }}" title="Logout">🏃</a></li>
          </ul>
        </nav>
      </aside>
      <!-- <button>
        <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
      </button> -->

  {% block content %} 
  <section class="main">
    <div class="container">
      <h1 class="form-title">Welcome to the Finance Dashboard</h1>
    </div>
  {% endblock %}
  </body>
</html>

