<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Finance Dashboard</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
        <div class="logo">
          <span>💎</span>
        </div>
        <nav>
          <ul>
            <li><a href="{{ url_for('homepage') }}" class="active">🏠</a></li>
            <li><a href="{{ url_for('expense_homepage') }}">💸</a></li>
            <li><a href="#">👤</a></li>
          </ul>
        </nav>
      </aside>
      <button>
        <a href="{{ url_for('logout') }}">Logout</a>
      </button>
      {% block content %}
      <h1>Dashboard</h1> 
      <!-- This is a dashboard welcoming user, and providing links to homepage and expense page. -->
      


      {% endblock %}
      
  </body>
</html>

