<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Expense</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = '../static/create.css') }}">
  <script src="../static/scripts.js" defer></script> 

</head>
<body>

<div class="container">
  <h2 class="form-title">Add Expense</h2>
  
  <form class="create-form" method="POST" action="{{ url_for('create') }}">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount" required />
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required />
    </div>
    <div class="form-group">
      <label for="des">Description:</label>
      <textarea id="des" name="des" placeholder="Enter description"></textarea>
    </div>
    <input class="submit-button" type="submit" value="Submit" />
  </form>
</div>
</body>
</html>
