{% extends "base.html" %} 
{% block content %}
<link rel="stylesheet" href="../static/expense.css" />
<link rel="script" href="../static/expense.js" />
<div class="main-content">
  <header>
    <h1>Your Account</h1>
    <form action="{{ url_for('submit_form') }}" method="post">
      <input class="search-bar" type="search" placeholder="Search" name="search" />
    </form>
    <input type="checkbox" name="dmtoggle" id="dmtoggle" />
    <label for="dmtoggle"></label>
  </header>
  <div class="content">
    <section class="overview-section">
      <h2>Account Overview</h2>
      <div class="reminder_container" id="reminder">Alert! You have exceeded your budget</div>
      <div class="container">
        <div class="basic_info">
          <h3>Current Balance: ${{ balance }}</h3>
          <h3>
            This month Budget: <span style="color: green">${{ budget }}</span>
          </h3>
          <h3>
            This month Spent:<span style="color: rgb(213, 40, 9)"
              >${{ spent }}</span
            >
          </h3>
          <h3>
            Sharing budget with:<span style="color: rgb(233, 134, 20)"
              >{{ joint }}</span
            >
          </h3>
        </div>
        <div class="specific_info">
          {% set
          months=['January','Feburary','March','April','May','June','July','August','September','October','November','December']
          %}
          <form method="POST" action="{{ url_for('accept_month') }}">
            <h3 style="display: inline-block;"><label for="months">Choose a month:</h3>
            <!-- <h3 style="display: inline-block; margin: 0;"><label for="months">Choose a month:</label></h3> -->
            <select name="months" id="months">
              <option value="" disabled selected hidden >Select a month</option>
              <option value="1">January</option>
              <option value="2">Feburary</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>          
            <input type="submit" value="Submit" />
          </label>
          </form>
          <p>
            You spent <strong>${{ month_spent }}</strong> and earned <strong> ${{ month_earned }} </strong>in<strong>
              {{months[month-1]}}</strong
            >
          </p>
        </div>
      </div>
    </section>
    <section class="history-section">
      <h2>Transactions</h2>
      {% if search %}
      <p>Search results for "{{ search }}"</p>
      {% endif %}
      <div class="scrollable-history">
        <table class="table">
          <tr class="expense_items">
            <th>Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr class="expense_items">
            <td>{{ transaction['name'] }}</td>
            <td>{{ transaction['date'] }}</td>
            <td>
              {% if transaction['transaction_category'] == 'income' %} Income
              {% else %} Expense {% endif %}
            </td>
            <td>
              {% if transaction['transaction_category'] == 'income' %}
                <span class="plus">+${{ transaction['amount'] }}</span>
              {% else %}
                <span class="minus">-${{ transaction['amount'] }}</span>
              {% endif %}                  
            </td>
            <!-- <td class="balanceremaining">
              {% if transaction['balance'] > 0 %} ${{ transaction['balance'] }}
              {% else %} -${{ transaction['balance'] }} {% endif %}
            </td> -->
            <td>
              {% if transaction['balance'] > 0 %}
              <span class="plus">${{ transaction['balance'] }}</span>
              {% else %}
                <span class="minus">${{ transaction['balance'] }}</span>
              {% endif %}
            </td>
            <td>
              <form method="POST" action="{{ url_for('expense_delete', id=transaction['id']) }}">
                <button type="submit" class="delete_button">Delete</button>
              </form>
            </td>
            <td>
              <form>
                <button type="button" class="edit_button" onclick="openEditModal('{{ transaction['id'] }}')">Edit</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <button onclick="openModal()" class="add_button">Add</button>
    </section>
  </div>
</div>

<div id="expenseModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div id="modalContent"></div>
  </div>
</div>

<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeEditModal()">&times;</span> 
    <div id="editModalContent"></div>
  </div>
</div>

<script>
  
let darko = localStorage.getItem('darko') === 'true';

document.addEventListener('DOMContentLoaded', (event) => {
    if (darko) {
        document.body.classList.add('darkmode');
        document.getElementById('dmtoggle').checked = true; 
        console.log('darkness');
    } else {
        document.body.classList.remove('darkmode');
        document.getElementById('dmtoggle').checked = false; 
    }
});

function darktime() {
    console.log('darkness');
    darko = !darko;
    if (darko) {
        document.body.classList.add('darkmode');
        localStorage.setItem('darko', 'true');
    } else {
        document.body.classList.remove('darkmode');
        localStorage.setItem('darko', 'false');
    }
}

document.getElementById('dmtoggle').onclick = darktime;

function openModal() {
    document.getElementById("expenseModal").style.display = "block";
    fetch("{{ url_for('fill') }}")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("modalContent").innerHTML = html;
      })
      .catch((error) => console.error("Error fetching create.html:", error));
  }

  function closeModal() {
    document.getElementById("expenseModal").style.display = "none";
  }

  function show_noti(value) {
    if (value <= 0) {
      console.log(value)
      var reminder = document.getElementById("reminder");
      reminder.classList.add("show");
    }
  }

  show_noti({{value}});

  function openEditModal(transaction_id) {
    document.getElementById('editModal').style.display = 'block';
    fetch(`{{ url_for('edit_form') }}?id=${transaction_id}`)
      .then(response => response.text())
      .then(html => {
        document.getElementById('editModalContent').innerHTML = html;
      })
      .catch(error => console.error('Error fetching edit form:', error));
  }

  function closeEditModal() {
    document.getElementById('editModal').style.display = 'none';
  }
</script>

{% endblock %}
