{% extends "base.html" %} {% block content %}
<script src="../static/expense.js" defer></script>
<link rel="stylesheet" href="../static/expense.css" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = '../static/expense.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'reminder.css') }}"
/>
<div class="main-content">
  <header>
    <h1>Your Account</h1>
    <form action="{{ url_for('submit_form') }}" method="post">
      <input type="search" placeholder="Search" name="search" />
    </form>
    <div class="notification">
      <span class="reminder_container" onclick="show_noti({{value}})">
        Budget Reminder
        <span class="reminder_text" id="reminder"
          >You have exceeded your month budget!</span
        >
      </span>
      <span class="badge" id="badge">&nbsp;</span>
    </div>
  </header>
  <input type="checkbox" name="dmtoggle" id="dmtoggle" />
  <label for="dmtoggle"></label>
  <div class="content">
    <section class="overview-section">
      <div class="container">
        <div class="basic_info">
          <h3>Total Balance: ${{ balance }}</h3>
          <h3>
            Current Budget: <span style="color: green">${{ budget }}</span>
          </h3>
          <h3>
            Current Spent:<span style="color: rgb(213, 40, 9)"
              >${{ spent }}</span
            >
          </h3>
          <h3>
            Sharing budget with:<span style="color: rgb(233, 134, 20)"
              >{{ joint }}</span
            >
          </h3>
        </div>
        <div class="specific_info">
          {% set
          months=['January','Feburary','March','April','May','June','July','August','September','October','November','December']
          %}
          <form method="POST" action="{{ url_for('accept_month') }}">
            <label for="months">Choose a month:</label>
            <select name="months" id="months">
              <option value="1">January</option>
              <option value="2">Feburary</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <input type="submit" value="Submit" />
          </form>
          <p>
            You spent <strong><span>${{ month_spent }}</span></strong> in
            {{months[month-1]}}
          </p>
        </div>
      </div>
    </section>
    <section class="history-section">
      <h2>Expense History</h2>
      {% if search %}
      <p>Search results for "{{ search }}"</p>
      {% endif %}
      <div>
        <table class="table">
          <tr class="expense_items">
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Delete</th>
          </tr>
          {% for transaction in transactions %}
          <tr class="expense_items">
            <td>{{ transaction['name'] }}</td>
            <td>{{ transaction['date'] }}</td>
            <td class="minus">-${{ transaction['amount'] }}</td>
            <td class="balanceremaining">
              {% if transaction['balance'] > 0 %} ${{ transaction['balance'] }}
              {% else %} -${{ transaction['balance'] }} {% endif %}
            </td>
            <td>
              <form
                method="POST"
                action="{{ url_for('expense_delete', id=transaction['id']) }}"
              >
                <button type="submit" class="delete_button">Delete</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <button onclick="openModal()" class="add_button">Add</button>
    </section>
  </div>
</div>

<div id="expenseModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <div id="modalContent"></div>
  </div>
</div>

<script>
  function openModal() {
    document.getElementById("expenseModal").style.display = "block";
    fetch("{{ url_for('fill') }}")
      .then((response) => response.text())
      .then((html) => {
        document.getElementById("modalContent").innerHTML = html;
      })
      .catch((error) => console.error("Error fetching create.html:", error));
  }

  function closeModal() {
    document.getElementById("expenseModal").style.display = "none";
  }

  function show_noti(value) {
    if (value <= 0) {
      var reminder = document.getElementById("reminder");
      reminder.classList.toggle("show");
    }
  }

  function show_badge(value) {
    console.log(value)
    if (value <= 0) {
      var badge = document.getElementById("badge");
      badge.classList.add("show");
    }
  }

  show_badge({{value}});
</script>

{% endblock %}
