<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .highlight {
        color: red;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    {% if option==1 %}
    <h3>
      <span class="highlight">{{customer_current}}</span> is successfully
      sharing budget with
      <span class="highlight">{{customer_joint}}</span>
    </h3>
    {% elif option==0 %}
    <h3>
      <span class="highlight">{{customer_joint}}</span> doesn't exist,
      <span class="highlight">{{customer_current}}</span> is not sharing budget
      with <span class="highlight">{{customer_joint}}</span>
    </h3>
    {% elif option==2 %}
    <h3>
      You didn't input a joint customer, you are not sharing budget with others!
    </h3>
    {% endif %}
    <a href="{{ url_for('expense_homepage_get') }}">Go to list</a>
  </body>
</html>
