{% extends "base.html" %} 
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'settings.css') }}"/>

<div class="container">
  <h1>Financial Info Settings</h1>

  <form method="POST" id="theForm" action="{{ url_for('expense_update') }}">
    <input type="checkbox" name="dmtoggle" id="dmtoggle" />
    <label for="dmtoggle"></label>
    <label for="balance">What is your original balance?</label>
    <input
      type="number"
      id="balance"
      name="balance"
      placeholder="${{ balance }}"
    /><br />
    <label for="budget">How much is your current budget?</label>
    <input
      type="number"
      id="budget"
      name="budget"
      placeholder=" ${{ budget }}"
    /><br />
    <label for="joint">Whose budget do you want to share with?</label>
    <input
      type="text"
      id="joint"
      name="joint"
      placeholder="{{ joint }}"
    /><br />

    <input id="open_window_button" type="submit" value="Submit" data-modal-target="#modal"/>
    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="confirmation">Confirmation</div>
      </div>

      <div class="modal-body"></div>
      <!-- <a href="{{ url_for('expense_homepage') }}"
        data-close-button
        class="close-button"
      >
        OK
      </a> -->
      
      <input id="close_window_button" type="submit" value="OK"/>
    
    </div>
  </form>
</div>
<div id="overlay"></div>
<script src="../static/setting.js"></script>

{% endblock %}